// добавляет переменные
@import './utils/variables';

// добавляет стили сброса марджинов, декорацию ссылок, др
@import './base/reset';

// добавляет общие стили, такие как visually-hidden, кнопки, контейнеры, др.
@import './utils/common';

// добавляет миксины
@import './utils/placeholders';

// ниже подключаем стили компонентов (секций). файлы размещаем в components.
@import './components/hero-header';
