@import '~node_modules/modern-normalize/modern-normalize.css';

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.75;
  letter-spacing: 0.04em;
  text-align: left;

  color: $primary-text-color;
}

.container {
  margin-left: auto;
  margin-right: auto;

  padding-left: 20px;
  padding-right: 20px;

  // min-width: 320px;
  width: 100%;

  @media screen and (min-width: 320px) {
    width: 320px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
