// палитра цветов

// черный цвет текста
$primary-text-color: #000000;

// серый цвет текста
$secondary-text-color: #907e82;

// цвет заголовков, др
$accent-text-color: #d41443;

// цвет лейбелов заголовков
$label-text-color: #ffa5ba;

// цвет фона героя
$hero-bg-color: #ffb8ca;

// светло-розовый цвет фона
$add-bg-color: #fff5f6;

// цвет фона мобильного меню
$menu-bg-color: #e17992;
