<section>
  <div class="container">
    <div class="heading">
      <label for="section__h">tradition and love</label>
      <h2 id="section__h">how it’s made?</h2>
    </div>
    <div>
      <img src="../images/cow-section-img/cow.png" alt="корова и свежее молоко">
      <div class="section__p">
        <ul>
          <li>
            <p>
              Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget,
              egestas
              eros.
              Maecenas eleifend erat at justo fringilla.
            </p>
          </li>
          <li>
            <p>
              Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet
              placerat.
              Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
            </p>
          </li>
          <li>
            <p>
              Aliquam erat volutpat. Aenean accumsan.
            </p>
          </li>
        </ul>
        <button>Read more ></button>
      </div>
    </div>
  </div>

  <div class="container">
    <ul>
      <li>
        <img src="../images/cow-section-img/icon1.png" alt="">
        <h3>721</h3>
        <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li>
        <img src="../images/cow-section-img/icon2.png" alt="">
        <h3>16kg</h3>
        <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li>
        <img src="../images/cow-section-img/icon3.png" alt="">
        <h3>84</h3>
        <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
    </ul>
  </div>
</section>