<section class="customer-review">
  <div class="customer-review__container container">
    <h2 class="customer-review__title visually-hidden">Customers reviews</h2>

    <img
      src="images/testimonials/testimonials.jpg"
      srcset="
        images/testimonials/testimonials.jpg    1x,
        images/testimonials/testimonials@2x.jpg 2x
      "
      alt="девушка"
      class="customer-review__picture"
      width="85"
    />
    <div class="customer-review__wrapper">
      <p class="customer-review__data">
        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
        sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis
        in nibh vel risus.
      </p>
      <div class="customer-review__gradient"></div>
    </div>

    <div class="dots"></div>

    <div class="customer-review__reviewer-wrapper">
      <p class="customer-review__reviewer-details">Emily, Los Angeles</p>
    </div>
  </div>
</section>
