<section class="section product">
  <div class="container product">
    <p class="product__label-title">100% Natural</p>
    <h1 class="product__title">PRODUCTS</h1>
    <ul class="card">
      <li class="card__item pink">
        <div class="card__wrapper">
          <h2 class="card__title">Ice crem</h2>
        </div>
        <p class="card__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <button class="card__button" type="button">
          <svg width="40" heigh="40">
            <use href="./arrow-right 4.svg#image0_57354_408"></use>
          </svg>
        </button>
      </li>
      <li class="card__item"></li>
      <li class="card__item"></li>
    </ul>
  </div>
</section>
