<section class="section product">
  <div class="container product">
    <div class="product__wrapper">
      <p class="product__label-title">100% Natural</p>
      <h1 class="product__title">PRODUCTS</h1>
    </div>
    <ul class="card">
      <li class="card__item ice">
        <div class="card__wrapper">
          <h2 class="card__title ice">Ice cream</h2>
        </div>
        <div class="card__dot"></div>
        <p class="card__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <button class="card__button" type="button">
          <svg width="12" height="12" class="card__icon">
            <use
              href="./images/section-product/arrow-right.svg#icon-arrow-right2"
            ></use>
          </svg>
        </button>
      </li>
      <li class="card__item coffee">
        <div class="card__wrapper">
          <h2 class="card__title coffee">Ice coffee</h2>
        </div>
        <div class="card__dot"></div>
        <p class="card__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <button class="card__button" type="button">
          <svg width="12" height="12" class="card__icon">
            <use
              href="./images/section-product/arrow-right.svg#icon-arrow-right2"
            ></use>
          </svg>
        </button>
      </li>
      <li class="card__item milkshake">
        <div class="card__wrapper">
          <h2 class="card__title milkshake">Milkshakes</h2>
        </div>
        <div class="card__dot"></div>
        <p class="card__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <button class="card__button" type="button">
          <svg width="12" height="12" class="card__icon">
            <use
              href="./images/section-product/arrow-right.svg#icon-arrow-right2"
            ></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
