
.contact {
    background-color: $add-bg-color;
    margin: 0;
    .container {
        @media screen and (min-width: 768px) {
            
            padding-left: 18px;
            padding-right: 18px;
          }
          @media screen and (min-width: 1200px) {
            padding: 0 16px;
            padding-bottom: 60px;
        }
    }
}
.contact-list {
    @media screen and (min-width: 768px) {
       display: flex;
      }
      
    &__item {
        width: 280px;
        padding: 40px 32px;
        background-color: #fff;
        box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
        border-radius: 24px;
        margin-top: 20px;
        &:first-child {
            margin-top: 0;
        }
        @media screen and (min-width: 768px) {
            width: 224px;
            margin-top: 0;
            margin-right: 32px;
            &:last-child {
                margin-right: 0;
            }
          }
          @media screen and (min-width: 1200px) {
            width: 395px;
        }
        
    }
    &__category {
        background-color: #F0D1A5;
        font-size: 12px;
        line-height: 186%;
        letter-spacing: 0.04em;
        color: #fff;
        width: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        margin-bottom: 20px;
        &--foodtruck {
            width: 130px;
            background-color: #C2E297;;
        }
        @media screen and (min-width: 768px) {
            margin-bottom: 32px;
            font-size: 16px;
          }
          @media screen and (min-width: 1200px) {
        
        }
    }
}
.card-list {
    &__item {
        border-bottom: 1px solid #E1E1E1;
        &:last-child {
            border: none;
        }
    }
    &__title {
        font-size: 12px;
        line-height: 186%;
        margin-bottom: 8px;
        @media screen and (min-width: 768px) {
            margin-bottom: 12px;
            font-size: 14px;
          }
          @media screen and (min-width: 1200px) {
            font-sizae: 16px;
            margin-bottom: 8px;
        }
        
        
    }
    &__subtitle {
        font-size: 12px;
        line-height: 18px;
        color: $secondary-text-color;
        margin-bottom: 24px;
        @media screen and (min-width: 768px) {
            margin-bottom: 32px;
            font-size: 14px;
          }
          @media screen and (min-width: 1200px) {
            font-size: 16px;
            line-height: 183%;
            width: 250px;
            }
    }
    &__day {
        font-size: 12px;
        line-height: 186%;
        &:first-child {
            margin-top: 24px;
        }
        @media screen and (min-width: 768px) {
            
            font-size: 14px;
            &:first-child {
                margin-top: 32px;
            }
          }
          @media screen and (min-width: 1200px) {
            font-size: 16px;
           
            }
    }
    &__time {
        font-size: 12px;
        line-height: 186%;
        color: $label-text-color;
        margin-bottom: 8px;
        &:last-child {
            margin-bottom: 24px;
        }
        @media screen and (min-width: 768px) {
            margin-bottom: 12px;
            font-size: 14px;
            &:last-child {
                margin-bottom: 32px;
            }
          }
          @media screen and (min-width: 1200px) {
            font-size: 16px;
            
            }
    }
    &__link {
        display: block;
        font-size: 12px;
        line-height: 18px;
        color: $secondary-text-color;
        margin-top: 24px;
        &:last-child {
            margin-top: 0;
        }
        &:hover, &:focus {
            color: $accent-text-color;
        }
        @media screen and (min-width: 768px) {
           margin-top: 32px;
            font-size: 14px;
          }
          @media screen and (min-width: 1200px) {
            font-size: 16px;
            
            }
    }
}
.button-list {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media screen and (min-width: 768px) {
            flex-direction: row;
       margin-top: 40px;
      }
      @media screen and (min-width: 1200px) {
        margin-top: 60px;
        }
    &__item {
        margin-bottom: 10px;
        @media screen and (min-width: 768px) {
            margin-right: 14.5px;
            margin-bottom: 0;
            &:last-child {
                margin-right: 0;
            }
          }
          @media screen and (min-width: 1200px) {
            margin-right: 15px;
            }
    }
    &__btn {
        
        padding: 11px 17px;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 21px;
        border-radius: 22px;
        border: 1px solid transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &--red {
            background-color: #D41342;
            color: #fff;
            &:hover, &:focus {
                background-color: #C7133E;
            }
        }
        &--white {
            color: #D41342;
            background-color: #fff;
            &:hover, &:focus {
                background-color: #ECEBEB;
            }
        }
    } 
    
}
.button-list__icon {
    width: 10px;
    height: 11px;
    fill: #fff;
    margin-left: 8px;
    &--red {
        fill: #D41342;
        margin-left: 13.17px;
        margin-right: 27.4px;
        width: 10px;
        height: 11px;
        
    }
}