.customer-review {
  padding-top: 80px;
  padding-bottom: 48px;

  // background-color: teal;

  // outline: 3px solid black;

  @media screen and (min-width: 768px) and (max-width: 1279.55px) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  // &__container {
  //   // outline: 1px solid red;
  //   // background-color: teal;
  // }
}

.customer-review__container {
  // @media screen and (min-width: 320px) {
  //   width: 320px;
  // }

  @media screen and (min-width: 768px) {
    // width: 768px;
    padding-left: 74px;
    padding-right: 74px;
  }

  @media screen and (min-width: 1280px) {
    width: 1280px;
    padding-left: 123px;
    padding-right: 123px;
  }
}

.customer-review__picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;

  @media screen and (max-width: 767.5px) {
    margin-bottom: 32px;
  }

  @media screen and (min-width: 768px) and (max-width: 1279.5px) {
    margin-bottom: 20px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 16px;
  }
}

.customer-review__wrapper {
  margin-bottom: 16px;
  position: relative;
  padding-top: 43px;
  padding-right: 58px;
  padding-bottom: 26px;
  padding-left: 65px;
  background-color: #fafafa;

  @media screen and (min-width: 768px) {
    padding-top: 37px;
    padding-right: 55px;
    padding-bottom: 36px;
    padding-left: 51px;
    margin-bottom: 4px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 47px;
    padding-right: 142px;
    padding-bottom: 39px;
    padding-left: 142px;
    margin-bottom: 16px;
  }
}

.customer-review__data {
  // width: 157px;
  position: relative;
  z-index: 2;
  font-size: 12px;
  font-weight: 500;
  line-height: 2.58;
  letter-spacing: 0em;
  text-align: center;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    font-weight: 500;
    line-height: 2.14;
    letter-spacing: 0.04em;
    text-align: center;
  }

  @media screen and (min-width: 1280px) {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.88;
    letter-spacing: 0.04em;
    text-align: center;
  }
}

.customer-review__gradient {
  // min-width: 180px;
  width: 64%;
  height: 70%;

  position: absolute;
  top: 74px;
  left: 50px;

  background-image: repeating-linear-gradient(
    to bottom,
    #e1e1e1,
    #e1e1e1 1px,
    transparent 1px,
    transparent 31px
  );

  @media screen and (min-width: 768px) {
    top: 68px;
    left: 6px;
    width: 98%;
    height: 50%;
  }

  @media screen and (min-width: 1280px) {
    top: 76px;
    left: 106px;
    width: 80%;
    height: 25%;
  }
}

.customer-review__data::before {
  content: '';
  display: inline-block;

  background-image: url(../images/testimonials/quotes-mob.svg);
  width: 54px;
  height: 40px;
  position: absolute;
  top: -13px;
  left: -12px;
  z-index: -1;

  @media screen and (min-width: 768px) {
    background-image: url(../images/testimonials/quotes-tab.svg);
    width: 60px;
    height: 40px;
    top: -17px;
    left: -45px;
  }

  @media screen and (min-width: 1280px) {
    background-image: url(../images/testimonials/quotes-mob.svg);
    width: 54px;
    height: 40px;
    position: absolute;
    top: -15px;
    left: -37px;
  }
}

.dots {
  position: relative;
  display: block;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: $accent-text-color;
  // margin: 0 auto;
}

.dots::before {
  content: '';
  position: absolute;
  right: 14px;
  // display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: $accent-text-color;
}

.dots::after {
  content: '';
  position: absolute;
  left: 14px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: $accent-text-color;
}

.customer-review__reviewer-details {
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.86;
  letter-spacing: 0em;
  text-align: center;

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
    font-size: 16px;
    line-height: 1.88;
  }
}

.reviewer-links {
  position: relative;
  display: block;
  // margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #d9d9d9;
  // margin: 0 auto;
}

.reviewer-links::before {
  content: '';
  position: absolute;
  right: 30px;
  // display: block;
  width: 12.5px;
  height: 12px;
  // border-radius: 50%;
  background-image: url(../images/testimonials/home.svg);
}

.reviewer-links::after {
  content: '';
  position: absolute;
  left: 30px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #d9d9d9;
}
