.footer {
    background-color: $add-bg-color;
    padding-top: 48px;
    padding-bottom: 20px;
    @media screen and (min-width: 768px)  {
        padding-top: 40px;
        padding-bottom: 8px;
      }
      @media screen and (min-width: 1200px) {
        padding-top: 60px;
        }
    .container {
        // border-bottom: 1px solid #E1E1E1;
        @media screen and (min-width: 768px) {
            
            padding-left: 18px;
            padding-right: 18px;
            display: flex;
            justify-content: space-between;
          }

          @media screen and (min-width: 1200px) {
            padding: 0 16px;
            }
        
        
    }
}
.contaiter__title {
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 1.14;
    text-transform: uppercase;
    color: #D41443;
    width: 200px;
    margin-bottom: 40px;
    @media screen and (min-width: 768px) {
        font-size: 48px;
        line-height: 1.14;
        letter-spacing: 0.06em;
        display: inline-block;
        width: 340px;
        display: flex; 
        justify-content: left;
      }
      @media screen and (min-width: 1200px) {
        font-size: 58px;
        line-height: 1.13;
        width: 477px;
        letter-spacing: 0.06em;
        }
}
.contaiter__subtitle {
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.16;
    text-transform: uppercase;
    color: #FFA5BA;
    margin-bottom: 16px;
    @media screen and (min-width: 768px) {
        font-size: 26px;
        line-height: 1.15;
        margin-bottom: 12px;
        width: 340px;
        display: inline-block;
      }
      @media screen and (min-width: 1200px) {
        font-size: 30px;
        line-height: 1.13;
        letter-spacing: 0.04em;
        width: 472px;
        margin-bottom: 16px;
        }
    
}
.network-list {
    display: flex;
    justify-content: right;
    margin-bottom: 40px;
    @media screen and (min-width: 1200px) {
        margin-top: 12px;
        }
    &__link {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-color: #FEA5BB;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover, &:focus {
            background-color: $accent-text-color;
        }
    }
    &__item {
        margin-right: 28.24px;
        &:last-child {
            margin-right: 0;
        }
        @media screen and (min-width: 768px) {
           margin-right: 30px;
           
          }
          @media screen and (min-width: 1200px) {
            margin-right: 24px;
            
           }
    }
}

.contact {
    display: flex;
    justify-content: end;
    margin-bottom: 40px;
    @media screen and (min-width: 1200px) {
        margin-bottom: 60px;
        }
}

    

.contanct__link {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 22.32px;
    color: #000;
    @media screen and (min-width: 768px) {
        font-size: 14px;
        line-height: 186%;
      }
      @media screen and (min-width: 1200px) {
        font-size: 16px;
        line-height: 186%;
        letter-spacing: 0.02em;
        }

}
.contact__link--text {
    color: $accent-text-color;
}
.footer__subtitle {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21.28px;
    color: $secondary-text-color;
    max-width: 150px;
    margin-right: 0;
    margin-top: 16px;
    @media screen and (min-width: 768px) {
       max-width: 280px;
       line-height: 186%;
        letter-spacing: 0.02em;
        margin-top: 8px;
      }
}
.footer__end {
    
    padding-left:  20px;
    padding-right:  20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #E1E1E1;
    @media screen and (min-width: 768px) {
         
        padding-left: 18px;
        padding-right: 18px;
       }
       @media screen and (min-width: 1200px) {
       padding: 0 16px;
       }
}
.footer__text {
@media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    width: 340px;
    }
    @media screen and (min-width: 1200px) {
       width: 472px;
        }
} 
