.page-header {
  background-color: $hero-bg-color;
  position: relative;
}
.container--header {
  display: flex;
}
.logo-icon {
  display: block;
}
.menu-button {
  margin-left: auto;
  z-index: 2;
  padding: 0;
  background-color: transparent;
  border: transparent;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    margin-right: 32px;
  }
}
.close-icon {
  display: none;
}
.menu-button.is-open .close-icon {
  display: block;
}
.menu-button.is-open .burger-icon {
  display: none;
}
.menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transform: translateX(100%);
  transition: transform 2500ms cubic-bezier(0.4, 0, 0.2, 1);

  width: 100%;
  height: 100vh;

  padding: 60px 20px;

  background-color: #e17992;

  &.is-open {
    transform: translateX(0%);
  }
}
.buy-button {
  display: inline-flex;

  padding-left: 48px;
  padding-right: 48px;
  padding-top: 18px;
  padding-bottom: 18px;
  margin-bottom: 32px;

  border: transparent;
  border-radius: 22px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  align-items: center;
  text-align: center;

  color: #d41443;
  background-color: #ffffff;

  &:hover,
  &:focus {
    background-color: #ecebeb;
  }
}
.invisible {
  margin-bottom: 0;
  @media screen and (max-width: 767px) {
    display: none;
  }
}
.btn-svg {
  margin-left: 20px;
}
.menu-item:not(:last-child) {
  margin-bottom: 22px;
}
.menu-link {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  align-items: center;

  color: #ffffff;

  &:hover,
  &:focus {
    color: #d41443;
  }
}
// hero
.hero {
  padding-top: 136px;
  padding-bottom: 158px;
  background-color: $hero-bg-color;
}
.hero-title {
  margin-bottom: 20px;

  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #ffffff;
}
.hero-accent {
  color: #d41443;
  font-size: 44px;
  line-height: 1.15;
}
.btn-list {
  display: flex;
}
.hero-item:not(:last-child) {
  margin-right: 8px;
}
.hero-btn-a {
  padding: 10px 14px;

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 10px;
  align-items: center;
  text-align: center;

  border: transparent;
  border-radius: 22px;
  background-color: #d41443;
  color: #ffffff;
}
.hero-btn-b {
  padding: 10px 14px;

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 10px;
  align-items: center;
  text-align: center;

  border: transparent;
  border-radius: 22px;
  background-color: #ffffff;
  color: #d41443;

  &:hover,
  &:focus {
    background-color: #ecebeb;
  }
}
